.navbar {
  display: flex;
  background-color: #838383;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: #757575;
}

.link {
  margin-left: 4px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.icon {
  color: whitesmoke;
}
